/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 

  }

  .scrollbar-hidden::-webkit-scrollbar{
    width: 0;
    height: 0px;
  }


.link-animate{
    /* color: black; */
    position: relative;
}

.link-animate::before {
    content: '';
    position: absolute;
    width: 100%;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link-animate:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

